<body>
    <div id="container" [ngClass]="forma">
        <div form-container sign-up-container>
            <form class="form-container sign-up-container" [formGroup]="recoveryForm1">
                <img class="logohq5Roja" src="../../../../assets/ManoHq5.png">
                <h1>Ingresa token</h1>
          <span>Nuestras redes sociales</span>
                <div class="social-container">
                    <a href="https://www.facebook.com/hq5sas/?locale=es_LA" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@hq5_sas?lang=es" class="social"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://co.linkedin.com/company/hq5-sas" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <input type="text" placeholder="Token" formControlName="Token_recoveryPassword"/>
                <button>Reestablecer</button>
            </form>
        </div>
        <div class="form-container sign-in-container" >
            <form [formGroup]="recoveryForm2" (ngSubmit)="BuscarUsuario()"  novalidate>
                <h1>Reestablecer contraseña</h1>
          <span>Nuestras redes sociales</span>
                <div class="social-container">
                    <a href="https://www.facebook.com/hq5sas/?locale=es_LA" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@hq5_sas?lang=es" class="social"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://co.linkedin.com/company/hq5-sas" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <input type="text" placeholder="Identificación" formControlName="identificacion" />
                
                <!-- <div class="g-recaptcha" data-sitekey="6LeAPkElAAAAAIvroxu2ATTrhG3CpFVzFZ9dAd4I"></div> -->
                <button type="submit" [disabled]="recoveryForm2.invalid">Buscar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Reestablecer contraseña</h1>
                    <p>Ingresa el codigo que se envio a tu correo electronico</p>
                    <!-- <button class="ghost" id="signIn">Iniciar sesión</button> -->
                </div>
                <div class="overlay-panel overlay-right">
                    <img class="logohq5" src="../../../../assets/ManoHq5Blanca.png">
                    <h1>Recupera tu cuenta</h1>
                    <p>Hola ingresa tu número de identificación para buscar tu cuenta</p>
                    <!-- <button class="ghost" id="signUp" >Verificar</button> -->
                </div>
            </div>
        </div>
    </div>
    </body>
