

<body>
<div id="container" [ngClass]="forma">
	<div form-container sign-up-container>
		<form class="form-container sign-up-container" [formGroup]="verifiForm" (ngSubmit)="verificarId()">
			<img class="logohq5Roja" src="../../../../assets/ManoHq5.png">
			<h1>Verificar información</h1>
      <span>Nuestras redes sociales</span>
			<div class="social-container">
				<a href="https://www.facebook.com/hq5sas/?locale=es_LA" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="https://www.tiktok.com/@hq5_sas?lang=es" class="social"><i class="fa-brands fa-tiktok"></i></a>
				<a href="https://co.linkedin.com/company/hq5-sas" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="text" placeholder="Identificación" formControlName="identificacionVerif"/>
			<button>Verificar</button>
		</form>
	</div>
	<div class="form-container sign-in-container" >
		<form [formGroup]="ingresoForm" (ngSubmit)="sendback()" novalidate>
			<h1>Iniciar sesión</h1>
      <span>Nuestras redes sociales</span>
			<div class="social-container">
				<a href="https://www.facebook.com/hq5sas/?locale=es_LA" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="https://www.tiktok.com/@hq5_sas?lang=es" class="social"><i class="fa-brands fa-tiktok"></i></a>
				<a href="https://co.linkedin.com/company/hq5-sas" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="text" placeholder="Identificación" formControlName="identificacion" />
			<div *ngIf="ingresoForm.get('identificacion').errors && ingresoForm.get('identificacion').dirty || ingresoForm.get('identificacion').touched">
				<h4 *ngIf="ingresoForm.get('identificacion').hasError('required')">*El usuario es requerido</h4>
				<h4 *ngIf="ingresoForm.get('identificacion').hasError('minlength')">*El usuario debe tener mininmo 5 caracteres</h4>
			</div>
			<input type="password" placeholder="Contraseña" formControlName="password"/>
			<div *ngIf="ingresoForm.get('password').errors && ingresoForm.get('password').dirty || ingresoForm.get('password').touched">
				<h4 *ngIf="ingresoForm.get('password').hasError('required')">*La contraseña es requerida</h4>
			</div>
			<a href="recoverypassword">Olvidaste la contraseña?</a>
			<!-- (resolved)="resolved($event)"  -->
			<re-captcha (resolved)="resolved($event)" siteKey="6LeAPkElAAAAAIvroxu2ATTrhG3CpFVzFZ9dAd4I"></re-captcha>
			<!-- <div class="g-recaptcha" data-sitekey="6LeAPkElAAAAAIvroxu2ATTrhG3CpFVzFZ9dAd4I"></div> -->
			<button type="submit" [disabled]="ingresoForm.invalid || !captchaResolved">Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenido de nuevo!</h1>
				<p>Para recibir información sobre tus procesos, inicia sesión con tus datos personales</p>
				<button class="ghost" id="signIn" (click)="loggeo()">Iniciar sesión</button>
			</div>
			<div class="overlay-panel overlay-right">
				<img class="logohq5" src="../../../../assets/ManoHq5Blanca.png">
				<h1>Hola!</h1>
				<p>Ingresa tus datos para verificar si estas registrado en nuestro sistema</p>
				<button class="ghost" id="signUp" (click)="verificar()">Verificar</button>
			</div>
		</div>
	</div>
</div>
</body>
