<body>
<div id="container" [ngClass]="forma">
	<div form-container sign-up-container>
		<form class="form-container sign-up-container" [formGroup]="verifiForm" (ngSubmit)="verificarId()">
			<h1>Verificar información</h1>
      <span>Nuestras redes sociales</span>
			<div class="social-container">
				<a href="https://www.facebook.com/hq5sas/?locale=es_LA" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="https://www.tiktok.com/@hq5_sas?lang=es" class="social"><i class="fa-brands fa-tiktok"></i></a>
				<a href="https://co.linkedin.com/company/hq5-sas" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="text" placeholder="Identificación" formControlName="identificacionVerif"/>
			<button>Verificar</button>
		</form>
	</div>
	<div class="form-container sign-in-container" >
		<form [formGroup]="ingresoForm" (ngSubmit)="sendback()">
			<h1>Iniciar sesión</h1>
      <span>Nuestras redes sociales</span>
			<div class="social-container">
				<a href="https://www.facebook.com/hq5sas/?locale=es_LA" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="https://www.tiktok.com/@hq5_sas?lang=es" class="social"><i class="fa-brands fa-tiktok"></i></a>
				<a href="https://co.linkedin.com/company/hq5-sas" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="text" placeholder="Identificación" formControlName="identificacion" />
			<input type="password" placeholder="Contraseña" formControlName="password"/>
			<a href="#">Olvidaste la contraseña?</a>
			<button >Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenido de nuevo!</h1>
				<p>Para recibir información sobre tus procesos, inicia sesión con tus datos personales</p>
				<button class="ghost" id="signIn" (click)="loggeo()">Iniciar sesión</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hola!</h1>
				<p>Ingresa tus datos para verificar si estas registrado en nuestro sistema</p>
				<button class="ghost" id="signUp" (click)="verificar()">Verificar</button>
			</div>
		</div>
	</div>
</div>
</body>

<!-- <div  class="login" >
  <form class="custom-form" [formGroup]="profileForm" (ngSubmit)="sendback()">
    <h1>LOGIN</h1>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Identificación</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" formControlName="identificacion">
      <input type="password" class="form-control" id="inputPaswword" aria-describedby="emailHelp" formControlName="password">
   
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>

</div>

<div class="mb-3" *ngIf='TusuarioModel[0]'>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Identificación</th>
        <th scope="col">Proceso/Contrato</th>
        <th scope="col">Proceso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of TusuarioModel">
        <td>{{item.nombre}}</td>
        <td>{{item.identificacion}}</td>
        <td>{{item.IDproceso}}</td>
        <td>{{item.proceso}}</td>
        </tr>
      
    </tbody>
  </table>
</div> -->
